html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'PF Agora Sans Pro';
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.btn {
  padding: 17px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border: 2px solid #E01E2E;
  border-radius: 10px;
  background-color: #E01E2E;
  color: #FFFFFF;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color: #E01E2E;
  background-color: #FFFFFF;
  /* border: 2px solid #ff0b03; */
}

.header {
  position: sticky;
  padding: 28px 0;
  z-index: 2;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 25px;
}

.header__nav-link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.header__nav-link:hover {
  opacity: .8;
}

.header__btn {
  max-width: 320px;
}

.intro {
  position: relative;
  width: 100%;
  height: 830px;
  margin-top: -120px;
  padding-top: 120px;
  background: url("../image/intro-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__inner {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
}

.intro:after {
  content: '';
  position: absolute;
  margin-top: 195px;
  left: 0;
  width: 100%;
  height: 160px;
  background-image: url("../image/svg/wave-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  text-align: center;
  font-family: PF Agora Sans Pro;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
}

.intro__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 31px;
}

.intro__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(100, 100, 100, 0.3);
}

.intro__card-link {
  padding: 26px 10px 20px;
  display: grid;
  min-width: 150px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.intro__card-icon {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 73px;
  height: 73px;
  order: -1;
}

.intro__card-descr {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: grid;
  padding: 25px;
  width: 550px;
  height: 275px;
  top: 0;
  border-radius: 20px;
  background-image: url("../image/descr-bg.jpg");
  color: #fff;
  text-decoration: none;
  z-index: 3;
  transition: all .3s ease-in-out;
}

.intro__card-descr span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.intro__card:nth-child(4) .intro__card-descr, .intro__card:nth-child(5) .intro__card-descr, .intro__card:nth-child(6) .intro__card-descr {
  right: 0;
}

.intro__card-image {
  width: 93px;
  height: 93px;
  order: -1;
}

.intro__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.intro__card:hover .intro__card-link {
  visibility: hidden;
  opacity: 0;
}

.intro__card:hover .intro__card-descr {
  visibility: visible;
  opacity: 1;
}

.section-title {
  position: relative;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.section-title::before {
  content: '';
  position: absolute;
  top: -26px;
  left: 0;
  width: 75px;
  height: 8px;
  background-color: #E01E2E;
}

.diagrams {
  position: relative;
  padding-top: 105px;
}

.diagrams__items {
  display: flex;
  justify-content: space-between;
}

.diagrams__item {
  width: 48%;
}

/* .diagrams__item:last-child {
  position: relative;
} */

/* .diagrams__item:last-child::before {
  content: '';
  position: absolute;
  top: 165px;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 480px;
  background-image: url("../image/svg/man-bg.svg");
  background-repeat: no-repeat;
  z-index: 8;
} */

.diagrams__item-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}

.diagrams__box {
  padding: 70px 30px;
}

.diagrams__btn {
  margin-left: 30px;
  max-width: 390px;
}

.diagrams__pictures {
  position: relative;
  max-height: 707px;
}

.picture-diagram,
.picture-man {
  position: absolute;
}

.diagrams__picture {
  margin: 0 auto;
  max-width: 575px;
  width: 100%;
}

.information {
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
}

.information::before {
  content: '';
  position: absolute;
  top: 153px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/svg/slider-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.information__item-title {
  position: relative;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #141515;
}

.information__item:nth-child(1) {
  position: relative;
}

.information__item:nth-child(1)::before {
  content: '1';
  position: absolute;
  top: -48px;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 900;
  font-size: 96px;
  line-height: 115px;
  z-index: 1;
  opacity: 0.1;
}

.information__item:nth-child(2) {
  position: relative;
}

.information__item:nth-child(2)::before {
  content: '2';
  position: absolute;
  top: -48px;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 900;
  font-size: 96px;
  line-height: 115px;
  z-index: 1;
  opacity: 0.1;
}

.information__content {
  margin-bottom: 40px;
  display: flex;
  max-width: 420px;
}

.information__content:first-child .information__text {
  margin-top: 12px;
}

.information__text {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #141515;
  opacity: .8;
}

.information__icon {
  width: 73px;
  height: 73px;
}

.swiper {
  margin-bottom: 50px;
  padding-top: 42px;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #777;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #E01E2E;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0px #fff, 0 0 0 2px #E01E2E;
}

table {
  margin-left: -24px;
  width: 500px;
  border-spacing: 28px;
  font-family: PF Agora Sans Pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}


.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}
.show {
  display: flex;
}
.modal__dialog {
  padding: 35px 30px;
  width: 100%;
  max-width: 462px;
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  transform: scale(0);
  transition: transform .2s linear;
}
.modal-close {
  padding: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
}

.modal-close:hover {
   animation: move 1s linear infinite;
}

@keyframes move {
  100% {
    transform: rotate(720deg);
  }
}

.modal__form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 361px;
}
.modal__form input{
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #dedcdc;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  outline: none;
}

@media (max-width: 1199px) {
  .intro__cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .diagrams__items {
    flex-direction: column;
    align-items: center;
  }

  .diagrams__item {
    padding: 30px 0;
    width: 100%;
  }
  .diagrams__box,
  .diagrams__picture {
    display: flex;
    justify-content: center;
}




